<div class="wrapper">
  <div class="content">
    <div class="floatleft">
      <h6>NAVEGAÇÃO</h6>
      <nav>
        <ul>
          <li><a href="">Inicio</a></li>
          <li><a href="">Produtos</a></li>
          <li><a href="">Como Comprar</a></li>
          <li><a href="">dúvidas frequentes</a></li>
        </ul>
      </nav>
    </div><!-- .floatleft END-->

    <div class="floatleft middle">
      <h6>SIGA-NOS</h6>
      <ul class="social-icons">
        <li><a class="facebook" href="javascript:void(0);">Facebook</a></li>
        <li><a class="twitter" href="javascript:void(0);">twitter</a></li>
        <li><a class="orkut" href="javascript:void(0);">orkut</a></li>
      </ul>
    </div><!-- .floatleft middle END -->

    <div class="floatleft">
      <h6>CONTATO-NOS</h6>
      <form method="" action="">
        <fieldset>
          <label>Name<em>*</em></label>
          <input type="text" maxlength="" class="text">
        </fieldset>
        <fieldset>
          <label>Mail<em>*</em></label>
          <input type="text" maxlength="" class="text">
        </fieldset>
      </form>
    </div> <!-- .floatleft END -->

    <div class="floatleft last">
      <form method="" action="">
        <fieldset>
          <label>Comment<em>*</em></label>
          <textarea class="textarea"></textArea>
        </fieldset>
      </form>
    </div>
  </div><!-- .content END -->

  <div class="clearboth" id="copyright">
    Copyright &copy; <%= Time.now.year %> Pink n' Blue, All rights reserved.<span>|</span>Términos y condiciones
  </div>
</div><!-- .wrapper END -->
