@charset "UTF-8";
@import url("reset.css");

/* ------------------------------
- Title: Project X Main Stylesheet (http://projectsite.com)
- Author: John Doe (http://koombea.com)

----- Table of Contents -----

	1. Helpers
	2. General
	3. Header
	4. Content
	5. Footer
	6. Forms
	7. Tables
	8. Buttons
	9. Icons
		
------------------------------ */

/* Helpers
============================================================ */
.clearfix:after{ 
  content:"."; 
  display:block; 
  height:0; 
  clear:both; 
  visibility:hidden; 
}
.clearfix{display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix{height:1%;}
.clearfix{display:block;}

.clear{clear:left;}

.floatleft{float:left !important;}
.floatright{float:right !important;}
.floatcenter{
  float:none !important;
	margin-left:auto !important;
	margin-right:auto !important;
	overflow:hidden;
}

.alignleft{text-align:left !important;}
.alignright{text-align:right !important;}
.aligncenter{text-align:center !important;}

.hidden{display:none;}
/* General
============================================================ */
html,
body{height:100%;}

body{
  background-color:#E0E0E0;
  color: #000;
  font-family: Arial,Serif;
  font-size: 12px;
}

.wrapper{
   /* Stick footer to bottom - remove if not used  */
  min-height:100%;
  height:auto !important;
  height:100%;
  margin:0 auto -120px; /* margin-bottom should be equal to the footer height */
  /* */
  width:975px;
}

p{
  
}

a{
	
}

a:hover{
	
}
/* Lists
---------------------------------------- */
ul{list-style:none;padding:0;margin:0;}
ul.horz{margin: 0 0 4px;overflow:hidden;}
ul.horz li{float:left;list-style-type: none;}
.ie7 ul.horz li{float:left;line-height:100%;}
.ie7 #footer_home ul.horz li{display:inline;}
/* Header
============================================================ */
header{
	background:#242524 url("../images/backgrounds/bg-footer.png") repeat-x left top;
    border-top:2px solid #FF0097;
    height:103px;
	margin-bottom: 15px;
}
header #logo{
	height:60px;
}
/* Navigation
---------------------------------------- */
header nav{overflow:hidden;}
header nav ul{
	border-top: 1px solid rgba(0,0,0,0.2);
	float:right;
	padding-top: 11px;
}
header nav ul li{
	border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 21px;
    line-height: 20px;
	padding: 0 12px;
}
ul.horz li:last-Child{margin-right:0;}
header nav ul a{
	color:#FFF;
	font-weight: bold;
	font-size:13px;
    letter-spacing: 1px;
    text-transform: uppercase;
	text-shadow:1px 1px rgba(60, 60, 60, 0.9);
	text-decoration:none;
}
nav ul a:hover{
	color: #DE318F;
	 -moz-transition: all 0.3s ease-out;  /* FF4+ */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
      -ms-transition: all 0.3s ease-out;  /* IE10? */
          transition: all 0.3s ease-out;
}
/* Content
============================================================ */
#content{
	padding-bottom:120px; /* This should be equal to the footer height - remove if not used  */
}
/* Home
---------------------------------------- */
.instructions{
	margin-bottom: 29px;
    overflow: hidden;
}
.price{
	background-color:#FFF;
	float: right;
    height: 35px;
    padding: 12px 0;
    width: 315px;
}
.price dl{
	background:#ff0097;
	height: 78px;
    margin: 10px 9px;
    width: 292px;
}

.slide{
	-moz-box-shadow: 1px 1px 3px #B9B9B9, 1px 1px 3px #B9B9B9;
	-webkit-box-shadow:  1px 1px 3px #B9B9B9, 1px 1px 3px #B9B9B9;;
	box-shadow: 1px 1px 3px #B9B9B9, 1px 1px 3px #B9B9B9;
	
	background-color: #FFF;
    border: 10px solid #FFF;
    margin: 0 auto;
    width: 945px;
}
.steps{
	-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;
	background:#212121 url("../images/backgrounds/bg_title.gif") no-repeat left center;
	float:left;
	height: 60px;
	width: 660px;
}
.steps h2{
	color: #C3C3C3;
    float: left;
    font-size: 1em;
    line-height: 60px;
    padding: 0 0 0 30px;
    text-transform: uppercase;
    width: 233px;
}
.steps ul{
	float: right;
	margin-right: 10px;
}
.steps li.step-number{
	background: url("../images/misc/step.gif") left top;
	border: 0 none;
	color: #FFF;
	font-size: 1.6em;
	height: 23px;
	line-height: 23px;
	margin: 19px 0 0 2px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 23px;
}
.steps li.step-link{
	border-bottom: 1px dotted #888;
    float: left;
    margin: 24px 12px;
}
.steps li.step-link a{
	color: #888;
	text-decoration:none;
	text-transform: capitalize;
}
#copyright{
    border-top: 1px solid rgba(0, 185, 191, 0.4);	
	clear: both;
	color: #7B7B7B;
	font-size:10px;
	padding: 11px 0;
}

#highlights{
	overflow:hidden;
	padding:0 0 45px 0;
}

#highlights .highlight_category{
	
     -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.5); /* FF3.5+ */
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.5); /* Saf3.0+, Chrome */
          box-shadow: 1px 2px 4px rgba(0,0,0,0.5); /* Opera 10.5, IE9, Chrome 10+ */

	margin:15px 0 0 15px;
	width:315px;
	height:354px;
	overflow:hidden;
	border-bottom:solid 6px #000;
	float:left;
	cursor:pointer;
}

#highlights .full{
	text-indent:-9999px;
}

#highlights .highlight_category.first{
	margin-left:0;
}

#highlight_luxury{background:#FFF url('../images/misc/highlight_luxury.png') no-repeat top left;}
#highlight_body_lotions{background:#FFF url('../images/misc/highlight_body_lotions.png') no-repeat top left;}
#highlight_capas_extensores{background:#FFF url('../images/misc/highlight_capas_extensores.png') no-repeat top left;}
#highlight_offer{background:#FFF url('../images/misc/highlight_offer.png') no-repeat top left;}
#highlight_masturbators{background:#FFF url('../images/misc/highlight_masturbators.png') no-repeat top left;}
#highlight_monthly{background:#FFF url('../images/misc/highlight_monthly.png') no-repeat top left;}

#highlights .highlight_category h2{
	margin:195px 15px 15px 15px;
	text-transform:uppercase;
}

#highlights .highlight_category h2 a{
	color:#000;
}

#highlights .highlight_category p{
	margin:15px;
}

/* Footer
============================================================ */
footer{
	background:#242524 url("../images/backgrounds/bg-footer.png") repeat-x left top;
	border-top: 2px solid #00B9FF;
	height:120px;
	padding-top: 19px;
}
footer nav {
	float:left;
}
footer nav li{
	border-left: 1px solid #FFF;
    border-right: 1px solid #CCC;
    margin-bottom: 67px;
    padding:0 15px 0;
}
nav li:first-Child{	
	border-left:0 none;
}
nav li:last-Child{
	border-right:0 none;
	padding-right:0;
}

footer nav ul a{
	color:#FFF;
	font-size:12px;
    text-transform:capitalize;
	text-shadow:1px 1px rgba(60, 60, 60, 0.9);
	text-decoration:none;
}

footer .social-icons{
	float:right;
	width:112px;
}
#copyright span{
	margin:0 10px 0;
}

/* Forms
============================================================ */
.search_form{position:relative;}
.search_form .search{
	border: 1px solid #00B9FF;
	bottom: 15px;
	position: absolute;
	right: 0;
}
.search_form input[type="text"]{
    border: 1px solid #FFFFFF;
    color: #7B7B7B;
    display: block;
    float: left;
    height: 24px;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 2px 0 0 5px;
    outline: medium none;
    width: 180px;
}
.search{
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
	-moz-box-shadow: 1px 1px 0 #B9B9B9 inset, -1px -1px 0 #B9B9B9 inset;
	-webkit-box-shadow: inset 1px 1px 0 #B9B9B9 , inset -1px -1px 0 #B9B9B9 ;
	box-shadow: inset 1px 1px 0 #B9B9B9 , inset -1px -1px 0 #B9B9B9 ;
	background-color:#FFF;
	height:30px;
	width:285px;
}

/* Tables
============================================================ */


/* Buttons
============================================================ */
.submit_search{
	background-color:#333;
	border: 1px solid #333;
	color: #FFF;
	cursor: pointer;
	display: block;
	float: right;
	font-weight: bold;
	height: 22px;
	margin: 4px 5px 0 0;
	text-transform: capitalize;
	width: 81px;
}

/* Icons
============================================================ */
.social-icons a{
	background:url("../images/icons/icn-social-pages.png") no-repeat;
	display:inline-block;
	height:27px;
	margin-right:10px;
	text-indent:-9000px;
	width:27px;
}
.social-icons a.facebook{background-position:left;}
.social-icons a.twitter{background-position:center;}
.social-icons a.orkut{background-position:right;}