<div class="instructions">
  <div class="steps">
    <h3>seu carrinho de compras</h3>
    <ul class="horz">
      <li class="step-number"><%= current_cart.total_products %></li>
      <li class="step-link"><a href="javascript:void(0);">articles</a></li>
      <li class="step-link"><a href="javascript:void(0);">limpar carrinho</a></li>
      <li class="step-link"><%= link_to "ver carrinho", cart_path(current_cart) %></li>
    </ul>
  </div><!-- .steps END -->
  <div class="price">
    <dl>
      <dt>Seu pedido <span>R$</span></dt>
      <%= price_format(current_cart, "total_shopp", tag1=:dd)%>
    </dl>
    <%= link_to "Pay", "javascript:void(0);", :class => "square" %>
  </div><!-- .price END -->
</div><!-- .instructions END -->
