<div class="instructions">
  <div class="steps">
    <h3>seu carrinho de compras</h3>
    <ul class="horz">
      <li class="step-number">3</li>
      <li class="step-link"><a href="javascript:void(0);">articles</a></li>
      <li class="step-link"><a href="javascript:void(0);">limpar carrinho</a></li>
      <li class="step-link"><a href="javascript:void(0);">ver carrinho</a></li>
    </ul>
  </div><!-- .steps END -->
  <div class="price">
    <dl>
      <dt>Seu pedido <span>R$</span></dt>
      <dd class="article-price">750<span>.25</span></dd>
    </dl>
    <%= link_to "Pay", "javascript:void(0);", :class => "square" %>
  </div><!-- .price END -->
</div><!-- .instructions END -->
