
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <!--[if (gte IE 6)&(lte IE 8)]>
  <script src="/assets/selectivizr"></script>
  <![endif]-->
  <meta charset="utf-8" />
  <!--[if IE]><![endif]-->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <title>Pink-n-Blue</title>
  <link href="/assets/favicon.png" rel="shortcut icon" />
  <link href="/assets/global.css" rel="stylesheet" />
  <link href="/assets/skinned-select.css" rel="stylesheet" />
</head>

<!--[if lte IE 7 ]> <body class="ie8 ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie8"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
      <header id="header">
        <div class="wrapper">
          <h1 id="logo"><a href="index.html"><img src="/assets/misc/header_logo.png" alt="pink-n-blue logo" /></a></h1>
          <div class="search-content">
            <form action="" method="post" class="search_form">
              <div class="search">
                <input type="text" maxlength="255" placeholder="search...">
                <button class="submit_search" type="submit">pesquisa</button>
              </div>
            </form>
          </div>
          <nav>
            <ul class="horz">
              <li><a href="index.html">Inicio</a></li>
              <li><a href="produtos.html">Produtos</a></li>
              <li><a href="comprar.html">Como Comprar</a></li>
              <li><a href="faq.html">dúvidas frequentes</a></li>
            </ul>
          </nav>
        </div><!-- .wrapper END -->
      </header>

      <div id="content">
        <div class="wrapper">
          <div class="instructions">
            <div class="steps">
              <h3>seu carrinho de compras</h3>
              <ul class="horz">
                <li class="step-number">3</li>
                <li class="step-link"><a href="javascript:void(0);">articles</a></li>
                <li class="step-link"><a href="javascript:void(0);">limpar carrinho</a></li>
                <li class="step-link"><a href="javascript:void(0);">ver carrinho</a></li>
              </ul>
            </div><!-- .steps END -->
            <div class="price">
              <dl>
                <dt>Seu pedido <span>R$</span></dt>
                <dd class="article-price">750<span>.25</span></dd>
              </dl>
              <a class="square" href="javascript:void(0);">Pay</a>
            </div><!-- .price END -->
          </div><!-- .instructions END -->
          <div class="main-content">
            <h1>Carrinho <span>de compras</span></h1>
            <p>Nossa equipe está pronta para esclarecer suas dúvidas. Entre em contato e envie sugestões, críticas ou obtenha informações sobre a sua compra. Nosso atendimento valoriza qualidade, sigilo e dedicação. Preencha o formulário abaixo e aguarde o nosso contato.
            </p>
            <div class="main_search carts">
              <h5>DETALHES DO PEDIDO</h5>
              <h3>Seus comentários são importantes para nós</h3>
              <ul class="items">
                <li>
                  <div class="image"><img alt="Selena Buckle And Zip Body In Stock" src="../assets/misc/products/colors/1/pink.gif"></div>
                  <fieldset class="text large">
                    <label for="">Nome</label>
                    <p>Selena Buckle And Zip Body In Stock</p>
                  </fieldset>
                  <fieldset class="clearfix">
          					<label for="">Ref.</label>
          					<select id="reference" name="reference" class="selectbox mini colors">
          						<option value="pink">rosa</option>
          						<option value="green">verde</option>
          						<option value="yellow">amarelo</option>
          						<option value="blue">azul</option>
          						<option value="white">branco</option>
          						<option value="black">preto</option>
          						<option value="black">preto</option>
          						<option value="black">preto</option>
          					</select>
                  </fieldset>
                  <fieldset class="text small">
                    <label for="">Preco</label>
                    <p><span>R$</span> 34.00</p>
                  </fieldset>
                  <fieldset class="small clearfix">
                    <label for="">Montate</label>
                    <select id="">
    									<option>1</option>
    									<option>1</option>
    									<option>1</option>
    									<option>1</option>
    								</select>
                  </fieldset>
                  <fieldset class="text small">
                    <label for="">Preço Total</label>
                    <p><span>R$</span> 34.00</p>
                  </fieldset>
                  <a href="#" class="btn black">Excluir</a>
                 </li>
                 <li>
                    <div class="image"><img alt="Selena Buckle And Zip Body In Stock" src="../assets/misc/products/colors/1/pink.gif"></div>
                 </li>
              </ul>
							<div>
	              <div class="price small">
	                <dl>
	                  <dt>Seu pedido <span>R$</span></dt>
	                  <dd class="article-price">750<span>.25</span></dd>
	                </dl>
	              </div><!-- .price END -->
	            	<ul>
	            		<li><a id="pag-seguro"href="javascript:void(0);">Pag Seguro</a></li>
									<li><a id="mercado-pago"href="javascript:void(0);">Mercado Pago</a></li>
	            	</ul>
							</div>
							<div class="description">
								<h5>Envios</h5>
								<p>O kit contém um estimulante vibrador massageador multi-velocidade com 4 capas de silicone</p>
							</div>
						</div>
          </div><!-- .main-content END -->
        </div><!-- .wrapper END -->
      </div><!-- #content END -->

      <footer id="footer">
        <div class="wrapper">
          <div class="content">
            <div class="floatleft">
              <h6>NAVEGAÇÃO<h6>
                <nav>
                  <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="produtos.html">Produtos</a></li>
                    <li><a href="comprar.html">Como Comprar</a></li>
                    <li><a href="faq.html">dúvidas frequentes</a></li>
									</ul>
                </nav>
              </div>
              <div class="floatleft middle">
                <h6>SIGA-NOS<h6> 
                  <ul class="social-icons">
                    <li><a class="facebook" href="javascript:void(0);">Facebook</a></li>
                    <li><a class="twitter" href="javascript:void(0);">twitter</a></li>
                    <li><a class="orkut" href="javascript:void(0);">orkut</a></li>
                  </ul>
                </div>
                <div class="floatleft">
                  <h6>CONTATO-NOS<h6>
                    <form method="" action="">
                      <fieldset>
                        <label>Name<em>*</em></label>
                        <input type="text" maxlength="" class="text">
                      </fieldset>
                      <fieldset>
                        <label>Mail<em>*</em></label>
                        <input type="text" maxlength="" class="text">
                      </fieldset>
                    </form>
                  </div>
                  <div class="floatleft last">
                    <form method="" action="">
                      <fieldset>
                        <label>Comment<em>*</em></label>
                        <textarea class="textarea"></textArea>
                        </fieldset>
                      </form>
                    </div>
                  </div>	<!-- .content END -->
                  <div class="clearboth" id="copyright">Copyright &copy; 2010 Pink n' Blue., All rights reserved.<span>|</span>Términos y 	condiciones
                  </div>
                </div>	<!-- .wrapper END -->
              </footer>
              <script src="/assets/application"></script>
              <script src="/assets/modernizr"></script>
              <script src="/assets/selectbox.skin"></script>
              <script src="/assets/selectSkin"></script>
              <script src="/assets/select-color"></script>
            </body>
            </html>
