<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src="/assets/selectivizr"></script>
    <![endif]-->
    <meta charset="utf-8" />
    <!--[if IE]><![endif]-->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Pink-n-Blue</title>
    <link href="/assets/favicon.png" rel="shortcut icon" />
    <link href="/assets/global.css" rel="stylesheet" />
    <link href="/assets/skinned-select.css" rel="stylesheet" />
  </head>

  <!--[if lte IE 7 ]> <body class="ie8 ie7"> <![endif]-->
    <!--[if IE 8 ]> <body class="ie8"> <![endif]-->
      <!--[if (gte IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
        <header id="header">
          <div class="wrapper">
            <h1 id="logo"><a href="index.html"><img src="/assets/misc/header_logo.png" alt="pink-n-blue logo" /></a></h1>
            <div class="search-content">
							<form action="" method="post" class="search_form">
	              <div class="search">
	                <input type="text" maxlength="255" placeholder="search...">
	                <button class="submit_search" type="submit">pesquisa</button>
	              </div>
	            </form>
						</div>
            <nav>
              <ul class="horz">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="produtos.html">Produtos</a></li>
                <li><a href="comprar.html">Como Comprar</a></li>
                <li><a href="faq.html">dúvidas frequentes</a></li>
              </ul>
            </nav>
          </div><!-- .wrapper END -->
        </header>

        <div id="content">
         	<div class="wrapper">
            <div class="instructions">
						 	<div class="steps">
						    <h3>seu carrinho de compras</h3>
						    <ul class="horz">
						      <li class="step-number">3</li>
						      <li class="step-link"><a href="javascript:void(0);">articles</a></li>
						      <li class="step-link"><a href="javascript:void(0);">limpar carrinho</a></li>
						      <li class="step-link"><a href="javascript:void(0);">ver carrinho</a></li>
						    </ul>
						  </div><!-- .steps END -->
						  <div class="price">
						    <dl>
						      <dt>Seu pedido <span>R$</span></dt>
						      <dd class="article-price">750<span>.25</span></dd>
						    </dl>
						    <a class="square" href="javascript:void(0);">Pay</a>
						  </div><!-- .price END -->
						</div><!-- .instructions END -->
						<div class="main-content">
							<div class="products">
								<div class="list_wrapper">
									<div class="banner">
										<div class="main_search  women-image">
											<h5>limite a sua pesquisa</h5>
											<p>Facilmente encontrar os produtos que você precisa utilizar este sistema de busca simples e rápida.</p>
											<div class="category">
												<label for="">Product Name</label>
												<div class="regular-text"><input class="text" type="text" placeholder="Seleccione una categoría"></div>
												<label for="">Category Name</label>
												<div class="regular-text"><input class="text" type="text" placeholder="Seleccione una línea"></div>
												<label for="">Order</label>
												<div class="regular">
												  <select>
  													<option>Todas Las Lineas</option>
  													<option>Anal1</option>
  													<option>Anal1</option>
  													<option>Anal1</options>
  												</select>
  											</div>
											</div>
										</div>
										<div class="hot_banner">
											<h2>nova <span>coleção</span></h2>
											<p>
												Selena Buckle And Zip<br>
												Body In Stock<br>
												$ 34.00
											</p>
										</div>
									</div>
								</div>
							</div><!-- .products END -->
							<div class="products-list">
						  <div class="list_description">
								<h1>Detalhes <span>do produto</span></h1>
							</div>
							<div class="main_search article">
							  <span class="new_product">Novo !!</span>
						  	<div class="product_image details"><img src="/assets/misc/products/full/1.gif" alt="" /></div>
    						<div class="product-info">
    							<span class="new_product">Novo !!</span>
    							<h5>Selena buckle And Zip Body in stock</h5>
									<p>O kit contém um estimulante vibrador massageador multi-velocidade com 4 capas de silicone com textura intercambiáveis.</p>
    						</div>
    					</div><!-- .main_search END -->
    					<div class="main_search product-price">
    					  <h5>Seu pedido</h5>
    					  <h3>Selena Buckle And Zip Body In Stock</h3>
                <ul class="horz">
                  <li>Preço do produto</li>
                  <li class="total-article">
      						  <div class="symbol">R$</div><div class="article-price">750<span>.25</span></div>
    						  </li>
                <li>
                  <fieldset>
            				<div id="field_reference">
            					<label for="reference">Referencia</label>
            					<select id="reference" name="reference" class="selectbox medium colors">
            						<option value="pink">rosa</option>
            						<option value="green">verde</option>
            						<option value="yellow">amarelo</option>
            						<option value="blue">azul</option>
            						<option value="white">branco</option>
            						<option value="black">preto</option>
            						<option value="black">preto</option>
            						<option value="black">preto</option>
            					</select>
            				</div>
                </fieldset>
                </li>
                <li>
                <fieldset class="small">
                <label for="">Montate</label>
                <select id="">
									<option>1</option>
									<option>Anal1</option>
									<option>Anal1</option>
									<option>Anal1</option>
								</select>
              </fieldset>
    					  </li>
    					  </ul>
    					  <div class="price">
  						    <dl>
  						      <dt><span>Preço do <br/>Seu pedido</span></dt>
  						      <dd class="symbol">R$</dd>
  						    </dl>
  						    <div class="square">
    						    <div class="article-price">750<span>.25</span></div>
  						    </div>
  						  </div><!-- .price END -->
						      <a href="#" class="btn black">Comprar</a>
						    </div>
						    <a href="#" class="go_back">Volver al listado <span>[-]</span></a>
    				  </div><!-- .main_search END -->
    				  <ul class="article-list">
        			  <li>
        			  	<h5>Quiet Vibrators</h5>
          				<p>This neon pink-tipped bullet vibrator is the RO100mm , an incredible orgasmic clitoral vibrator to follow up the world-famous RO-80mm vibe. Itís 2cms longer than the RO80mm which makes it a bit easier to handle, but the most important difference is the tip. Itís made from soft, supple silicone, so you can apply its powerful vibrations comfortably and firmly wherever you want.</p>
        			  </li>
        			  <li>
        				  <h5>Quiet Vibrators</h5>
        				  <p>This neon pink-tipped bullet vibrator is the RO100mm , an incredible orgasmic clitoral vibrator to follow up the world-famous RO-80mm vibe. Itís 2cms longer than the RO80mm which makes it a bit easier to handle, but the most important difference is the tip. Itís made from soft, supple silicone, so you can apply its powerful vibrations comfortably and firmly wherever you want.</p>
        			  </li>
        			  <li><a href="#" class="go_back">Volver al listado <span>[-]</span></a></li>
        			</ul>
						</div><!-- .main-content END -->
          </div><!-- .wrapper END -->
        </div><!-- #content END -->

       <footer id="footer">
         <div class="wrapper">
           <div class="content">
						<div class="floatleft">
							<h6>NAVEGAÇÃO<h6>
              <nav>
                <ul>
                  <li><a href="index.html">Inicio</a></li>
                  <li><a href="produtos.html">Produtos</a></li>
                  <li><a href="comprar.html">Como Comprar</a></li>
                  <li><a href="faq.html">dúvidas frequentes</a></li>
                </ul>
              </nav>
            </div>
						<div class="floatleft middle">
							<h6>SIGA-NOS<h6>
							<ul class="social-icons">
                <li><a class="facebook" href="javascript:void(0);">Facebook</a></li>
                <li><a class="twitter" href="javascript:void(0);">twitter</a></li>
                <li><a class="orkut" href="javascript:void(0);">orkut</a></li>
              </ul>
						</div>
						<div class="floatleft">
							<h6>CONTATO-NOS<h6>
							<form method="" action="">
								<fieldset>
									<label>Name<em>*</em></label>
	                <input type="text" maxlength="" class="text">
								</fieldset>
								<fieldset>
									<label>Mail<em>*</em></label>
	                <input type="text" maxlength="" class="text">
								</fieldset>
							</form>
						</div>
						<div class="floatleft last">
							<form method="" action="">
								<fieldset>
									<label>Comment<em>*</em></label>
	                <textarea class="textarea"></textArea>
								</fieldset>
							</form>
						</div>
         	</div>	<!-- .content END -->
          <div class="clearboth" id="copyright">Copyright &copy; 2010 Pink n' Blue., All rights reserved.<span>|</span>Términos y 	condiciones
					</div>
         </div>	<!-- .wrapper END -->
         <script src="/assets/application"></script>
         <script src="/assets/modernizr"></script>
         <script src="/assets/selectbox.skin"></script>
         <script src="/assets/selectSkin"></script>
         <script src="/assets/select-color"></script>
       </footer>
    
  </body>
</html>
