<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src="/assets/selectivizr"></script>
    <![endif]-->
    <meta charset="utf-8" />
    <!--[if IE]><![endif]-->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Pink-n-Blue</title>
    <link href="/assets/favicon.png" rel="shortcut icon" />
    <link href="/assets/global.css" rel="stylesheet" />
    <link href="/assets/skinned-select.css" rel="stylesheet" />
  </head>

  <!--[if lte IE 7 ]> <body class="ie8 ie7"> <![endif]-->
    <!--[if IE 8 ]> <body class="ie8"> <![endif]-->
      <!--[if (gte IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
        <header id="header">
          <div class="wrapper">
            <h1 id="logo"><a href="index.html"><img src="/assets/misc/header_logo.png" alt="pink-n-blue logo" /></a></h1>
            <div class="search-content">
							<form action="search.php" method="post" class="search_form">
	              <div class="search">
	                <input type="text" maxlength="255" class="text" placeholder="search...">
	                <button class="submit_search" type="submit">pesquisa</button>
	              </div>
	            </form>
						</div>
            <nav>
              <ul class="horz">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="produtos.html">Produtos</a></li>
                <li><a href="comprar.html">Como Comprar</a></li>
                <li><a href="faq.html">dúvidas frequentes</a></li>
              </ul>
            </nav>
          </div><!-- .wrapper END -->
        </header>

        <div id="content">
         	<div class="wrapper">
            <div class="instructions">
						 	<div class="steps">
						    <h3>seu carrinho de compras</h3>
						    <ul class="horz">
						      <li class="step-number">3</li>
						      <li class="step-link"><a href="javascript:void(0);">articles</a></li>
						      <li class="step-link"><a href="javascript:void(0);">limpar carrinho</a></li>
						      <li class="step-link"><a href="javascript:void(0);">ver carrinho</a></li>
						    </ul>
						  </div><!-- .steps END -->
						  <div class="price">
						    <dl>
						      <dt>Seu pedido <span>R$</span></dt>
						      <dd>750<span>.25</span></dd>
						    </dl>
						    <a href="javascript:void(0);">Pay</a>
						  </div><!-- .price END -->
						</div><!-- .instructions END -->
						<div class="main-content">
							<div class="products">
								<div class="list_wrapper">
									<div class="banner">
										<div class="main_search  women-image">
											<h5>limite a sua pesquisa</h5>
											<p>Facilmente encontrar os produtos que você precisa utilizar este sistema de busca simples e rápida.</p>
											<div class="category">
												<h6>Categoria</h6>
												<label for="select_category">Seleccione una categoría</label>
												<div class="regular">
  												<select>
  													<option>Anal1</option>
  													<option>Anal1</option>
  													<option>Anal1</option>
  													<option>Anal1</option>
  												</select>
												</div>
												<h6>Lineas</h6>
												<label for="">Seleccione una línea</label>
												<div class="regular">
  												<select>
  													<option>Todas Las Lineas</option>
  													<option>Anal1</option>
  													<option>Anal1</option>
  													<option>Anal1</option>
  												</select>
												</div>
												<h6>Ordenar</h6>
												<label for="">Ordenar lista por</label>
												<div class="regular">
												  <select>
  													<option>Todas Las Lineas</option>
  													<option>Anal1</option>
  													<option>Anal1</option>
  													<option>Anal1</options>
  												</select>
  											</div>
											</div>
										</div>
										<div class="hot_banner">
											<h2>nova <span>coleção</span></h2>
											<p>
												Selena Buckle And Zip<br>
												Body In Stock<br>
												$ 34.00
											</p>
										</div>
									</div>
								</div>
							</div><!-- .products END -->
							<div class="products-list">
								<div id="list_description">
									<h1>Anal <span>todas as linhas</span></h1>
									<p>All of the orgasmic toys in this collection are under £20, so theyíre perfect as gifts or as little treats for yourself. Perfect for couples on a budget. O kit contÈm um estimulante vibrador massageador multi-velocidade com 4 capas de silicone com textura intercambi·veis.</p>
								</div>
								<div class="pagination" id="result_count">
									<span>Produtos <strong>1 a 24</strong> de 204</span>
								</div>
								<ul class="list" class="horz">
									<li>
										<div class="product_image"><img src="/assets/misc/products/thumbs/1.gif" alt="" /></div>
										<div class="product-info">
											<span class="new_product">Novo !!</span>
  										<h3><a href="#">Selena Buckle And Zip Body In Stock</a></h3>
											<div class="product_price">$ 34.00</div>
											<ul class="product_colors horz">
												<li class="product_color_pink">rosa</li>
												<li class="product_color_green">verde</li>
												<li class="product_color_yellow">amarelo</li>
												<li class="product_color_blue">azul</li>
												<li class="product_color_white">branco</li>
												<li class="product_color_black">preto</li>
											</ul>
											<a class="buy_product" href="product.php">Comprar</a>
										</div>
									</li>
									<li>
										<div class="product_image"><img src="/assets/misc/products/thumbs/1.gif" alt="" /></div>
										<div class="product-info">
											<span class="new_product">Novo !!</span>
  										<h3><a href="#">Selena Buckle And Zip Body In Stock</a></h3>
											<div class="product_price">$ 34.00</div>
											<ul class="product_colors horz">
												<li class="product_color_pink">rosa</li>
												<li class="product_color_green">verde</li>
												<li class="product_color_yellow">amarelo</li>
												<li class="product_color_blue">azul</li>
												<li class="product_color_white">branco</li>
												<li class="product_color_black">preto</li>
											</ul>
											<a class="buy_product" href="product.php">Comprar</a>
										</div>
									</li>
									<li>
										<div class="product_image"><img src="/assets/misc/products/thumbs/1.gif" alt="" /></div>
										<div class="product-info">
											<span class="new_product">Novo !!</span>
  										<h3><a href="#">Selena Buckle And Zip Body In Stock</a></h3>
											<div class="product_price">$ 34.00</div>
											<ul class="product_colors horz">
												<li class="product_color_pink">rosa</li>
												<li class="product_color_green">verde</li>
												<li class="product_color_yellow">amarelo</li>
												<li class="product_color_blue">azul</li>
												<li class="product_color_white">branco</li>
												<li class="product_color_black">preto</li>
											</ul>
											<a class="buy_product" href="product.php">Comprar</a>
										</div>
									</li>
									<li>
										<div class="product_image"><img src="/assets/misc/products/thumbs/1.gif" alt="" /></div>
										<div class="product-info">
											<span class="new_product">Novo !!</span>
  										<h3><a href="#">Selena Buckle And Zip Body In Stock</a></h3>
											<div class="product_price">$ 34.00</div>
											<ul class="product_colors horz">
												<li class="product_color_pink">rosa</li>
												<li class="product_color_green">verde</li>
												<li class="product_color_yellow">amarelo</li>
												<li class="product_color_blue">azul</li>
												<li class="product_color_white">branco</li>
												<li class="product_color_black">preto</li>
											</ul>
											<a class="buy_product" href="product.php">Comprar</a>
										</div>
									</li>
									<li>
										<div class="product_image"><img src="/assets/misc/products/thumbs/1.gif" alt="" /></div>
										<div class="product-info">
											<span class="new_product">Novo !!</span>
  										<h3><a href="#">Selena Buckle And Zip Body In Stock</a></h3>
											<div class="product_price">$ 34.00</div>
											<ul class="product_colors horz">
												<li class="product_color_pink">rosa</li>
												<li class="product_color_green">verde</li>
												<li class="product_color_yellow">amarelo</li>
												<li class="product_color_blue">azul</li>
												<li class="product_color_white">branco</li>
												<li class="product_color_black">preto</li>
											</ul>
											<a class="buy_product" href="product.php">Comprar</a>
										</div>
									</li>
									<li>
										<div class="product_image"><img src="/assets/misc/products/thumbs/1.gif" alt="" /></div>
										<div class="product-info">
										  <span class="new_product">Novo !!</span>
  										<h3><a href="#">Selena Buckle And Zip Body In Stock</a></h3>
											<div class="product_price">$ 34.00</div>
											<ul class="product_colors horz">
												<li class="product_color_pink">rosa</li>
												<li class="product_color_green">verde</li>
												<li class="product_color_yellow">amarelo</li>
												<li class="product_color_blue">azul</li>
												<li class="product_color_white">branco</li>
												<li class="product_color_black">preto</li>
											</ul>
											<a class="buy_product" href="product.php">Comprar</a>
										</div>
									</li>
								</ul>
								<div class="pagination">
								  <span>Produtos <strong>1 a 24</strong> de 204</span>
								  <nav class="pagination">
                    <span class="first">
                      <a href="#">[-]</a>
                    </span>
                    <span class="prev">
                      <a rel="prev" href="#">[+]</a>
                    </span>
                    <span class="page">
                      <a rel="prev" href="/products">1</a>
                    </span>
                    <span class="page current">2</span>
                  </nav>
								</div>
							</div><!-- .product-list END -->
						</div><!-- .main-content END -->
          </div><!-- .wrapper END -->
        </div><!-- #content END -->

       <footer id="footer">
         <div class="wrapper">
           <div class="content">
						<div class="floatleft">
							<h6>NAVEGAÇÃO<h6>
              <nav>
                <ul>
                  <li><a href="index.html">Inicio</a></li>
                  <li><a href="produtos.html">Produtos</a></li>
                  <li><a href="comprar.html">Como Comprar</a></li>
                  <li><a href="faq.html">dúvidas frequentes</a></li>
                </ul>
              </nav>
            </div>
						<div class="floatleft middle">
							<h6>SIGA-NOS<h6>
							<ul class="social-icons">
                <li><a class="facebook" href="javascript:void(0);">Facebook</a></li>
                <li><a class="twitter" href="javascript:void(0);">twitter</a></li>
                <li><a class="orkut" href="javascript:void(0);">orkut</a></li>
              </ul>
						</div>
						<div class="floatleft">
							<h6>CONTATO-NOS<h6>
							<form method="" action="">
								<fieldset>
									<label>Name<em>*</em></label>
	                <input type="text" maxlength="" class="text">
								</fieldset>
								<fieldset>
									<label>Mail<em>*</em></label>
	                <input type="text" maxlength="" class="text">
								</fieldset>
							</form>
						</div>
						<div class="floatleft last">
							<form method="" action="">
								<fieldset>
									<label>Comment<em>*</em></label>
	                <textarea class="textarea"></textArea>
								</fieldset>
							</form>
						</div>
         	</div>	<!-- .content END -->
          <div class="clearboth" id="copyright">Copyright &copy; 2010 Pink n' Blue., All rights reserved.<span>|</span>Términos y 	condiciones
					</div>
         </div>	<!-- .wrapper END -->
       </footer>
    <script src="/assets/application"></script>
    <script src="/assets/modernizr"></script>
    <script src="/assets/selectbox.skin"></script>
    <script src="/assets/selectSkin"></script>
  </body>
</html>
