<nav>
  <ul class="horz">
    <li><a href="index.html">Inicio</a></li>
    <li><a href="produtos.html">Produtos</a></li>
    <li><a href="comprar.html">Como Comprar</a></li>
    <li><a href="faq.html">dúvidas frequentes</a></li>
  </ul>
</nav>
