<nav>
  <ul class="horz">
    <li><a href="">Inicio</a></li>
    <li><a href="">Produtos</a></li>
    <li><a href="">Como Comprar</a></li>
    <li><a href="">dúvidas frequentes</a></li>
  </ul>
</nav>
