<nav>
  <ul class="horz">
    <li><%= link_to "Inicio", root_path %></li>
    <li><%= link_to "Produtos", products_path %></li>
    <li><%= link_to "Como Comprar", "javascript:void(0);" %></li>
    <li><%= link_to "Dúvidas Frequentes", "javascript:void(0);" %></li>
  </ul>
</nav>
