<nav>
  <ul class="horz">
    <li><a href="">Inicio</a></li>
    <li><%= link_to "Produtos", products_path %></li>
    <li><a href="">Como Comprar</a></li>
    <li><a href="">dúvidas frequentes</a></li>
  </ul>
</nav>
