<div class="slide">
  <img src="/assets/misc/woman.jpg" alt="pink-n-blue logo" />
</div><!-- .slide END -->

<div id="highlights">
  <div class="highlight_category first" id="highlight_masturbators">
    <h3><a href="#">masturbators</a></h3>
    <p>O kit contém um estimulante vibrador massageador multi-velocidade com 4 capas de silicone com textura intercambiáveis.</p>
  </div>

  <div class="highlight_category" id="highlight_capas_extensores">
    <h3><a href="#">Capas y extensores</a></h3>
    <p>O kit contém um estimulante vibrador massageador multi-velocidade com 4 capas de silicone com textura intercambiáveis.</p>
  </div>

  <div class="highlight_category" id="highlight_offer">
    <span>20%</span>
    <h3><a href="#">Luxury Items</a></h3>
    <p>Productos seleccionados - válido del 1 de Sep.al 30 de Sep. de 2010.</p>
  </div>

  <div class="highlight_category first" id="highlight_body_lotions">
    <h3><a href="#">erotic body lotions</a></h3>
    <p>O kit contém um estimulante vibrador massageador multi-velocidade com 4 capas de silicone com textura intercambiáveis.</p>
  </div>

  <div class="highlight_category" id="highlight_luxury">
    <h3><a href="#">Capas y extensores</a></h3>
    <p>O kit contém um estimulante vibrador massageador multi-velocidade com 4 capas de silicone com textura intercambiáveis.</p>
  </div>

  <div class="highlight_category full" id="highlight_monthly">
    <h3><a href="#">Producto del mes</a></h3>
    <p>Man's Grease - $20.50</p>
  </div>
</div>
