@charset "UTF-8";
@import url("reset.css");

/* ------------------------------
- Title: Project Pink-N-Blue Main Stylesheet
- Author: Catalina Mutis
/* Helpers
============================================================ */
.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix{display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix{height:1%;}
.clearfix{display:block;}

.clear{clear:left;}

.floatleft{float:left !important;}
.floatright{float:right !important;}
.floatcenter{
  float:none !important;
  margin-left:auto !important;
  margin-right:auto !important;
  overflow:hidden;
}

.alignleft{text-align:left !important;}
.alignright{text-align:right !important;}
.aligncenter{text-align:center !important;}

.hidden{display:none;}
/* General
============================================================ */
html,
body{height:100%;}

body{
  background-color:#E0E0E0;
  color: #000;
  font-family: Arial,Serif;
  font-size: 12px;
}

.wrapper{
  /* Stick footer to bottom - remove if not used  */
  min-height:100%;
  height:auto !important;
  height:100%;
  margin:0 auto -120px; /* margin-bottom should be equal to the footer height */
  /* */
  width:975px;
}
h1,h2,h3,h4,h5{text-transform: uppercase;}
h1 {
  color:#000;
  font-size: 2.4em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
 	margin-bottom: 7px;
}
h5 {
  color:#000;
  font-size: 1.3em;
  margin: 15px 0 10px;
}
h6,
label span {
	color:#000;
  font-size: 1em;
}
h1 span {
  color:#222;
  font-size:0.6em;
  font-weight:normal;
  text-transform:uppercase;
}
p{
	color:#7B7B7B;
	line-height: 16px;
	margin-bottom:30px;
}

.pagination a:hover,
.pagination .page:hover,
a{
	color:#DE318F;
	cursor:pointer;
	text-decoration:none;
	text-align: left;
}

a:hover,
button:hover, 
li:hover,
input:focus,
option:hover{
  -moz-transition: all 0.3s ease-out;  /* FF4+ */
  -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
  -ms-transition: all 0.3s ease-out;  /* IE10? */
  transition: all 0.3s ease-out;

}
/* Lists
---------------------------------------- */
ul{list-style:none;padding:0;margin:0;}
ul.horz{margin: 0 0 4px;overflow:hidden;}
ul.horz li{float:left;list-style-type: none;}
.ie7 ul.horz li{float:left;line-height:100%;}
.ie7 #footer_home ul.horz li{display:inline;}
/* Header
============================================================ */
header{
  background:#242524 url("/assets/backgrounds/bg-footer.png") repeat-x left top;
  border-top:2px solid #FF0097;
  height:103px;
  margin-bottom: 15px;
}
header #logo{
  height:60px;
}
/* Navigation
---------------------------------------- */
header nav{overflow:hidden;}
header nav ul{
  border-top: 1px solid rgba(0,0,0,0.2);
  float:right;
  padding-top: 11px;
}
header nav ul li{
  border-right:1px solid rgba(0, 0, 0, 0.2);
  height:21px;
  line-height:20px;
  padding:0 12px;
}
ul.horz li:last-Child{margin-right:0;}
header nav ul a{
  color:#FFF;
  font-weight: bold;
  font-size:13px;
  letter-spacing:1px;
  text-transform: uppercase;
  text-shadow:1px 1px rgba(60, 60, 60, 0.9);
  text-decoration:none;
}
nav ul a:hover{
  color: #DE318F;
}
/* Content
============================================================ */
#content{
  padding-bottom:120px; /* This should be equal to the footer height - remove if not used  */
}
#content .main_search{
  background-color:#FFF;
	border-bottom: 6px solid #000;
  color:#7B7B7B;
  margin-bottom: 20px;
  position: relative;
}
.pagination span{padding: 0 3px;}
.pagination-list{
  border-bottom: 1px solid #C3C3C3;
  display: inline-block;
  padding: 29px 0 2px;  
	width: 100%;
}
.pagination-list nav{float:right;}
.pagination strong{color: #DE318F;}
.pagination p{
	float:left;
	font-weight: bold;
	font-size: 13px;
	margin-bottom:10px;
}
.pagination a,
.pagination .page{
	color:#7B7B7B;
	font-size:15px;
	font-weight:bold;
}
.pagination .page{
	display: inline-block;
  text-align: center;
  text-decoration: underline;
}
.price{
  -moz-border-radius:0 8px 8px 0; -webkit-border-radius:0 8px 8px 0; border-radius:0 8px 8px 0;
  background-color:#FFF;
  float: left;
  height: 60px;
  overflow: hidden;
}
.price .square{
  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset;
  -webkit-box-shadow:  1px 1px 3px  rgba(0,0,0,0.2) inset;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset;
  background-color: #FFF;
  bottom: 48px;
  color: #C20374;
  display: block;
  float: right;
  font-size: 1.4em;
  font-weight: bold;
  height: 38px;
  line-height: 35px;
  position: relative;
  right: 21px;
  text-align: center;
  text-decoration: none;
  width: 95px;
}
.price a:hover{
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4) inset;
  -webkit-box-shadow:  1px 1px 3px  rgba(0,0,0,0.4) inset;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4) inset;
  color:#7b044a;

}
.price dl dt {
  float:left;
  margin:12px 0 0 6px;
  width:70px;
}
.regular{padding-top: 8px;}
.square .article-price{
  color: #7B7B7B;
  font-size: 28px;
  line-height:20px;
  margin: 0;
  text-align: center;
}
.article-price {
  float: left;
  font-size: 2.2em;
  font-weight: bold;
  margin: 6px 0 0 6px;
  width: 106px;
}
.article-price span {
  font-size: 0.5em;
  left: 1px;
  position: relative;
  top: 4px;
  vertical-align: super;
}
.price dl{
  -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
  background-color:#DE0686;
  color: #FFF;
  height: 45px;
 	margin: 7px 15px 7px 3px; 
 	width: 292px;
}
/*Cart's Shopping
---------------------------------------- */
.items a{margin-top:10px;}
.items .clearfix{
	position: relative;
  top: 7px;
}
.items .image{
	border: 1px solid #DBDBDB;
  display:inline-block;
  height: 55px;
	margin-right:20px;
  width: 61px;
}
.items fieldset,
.items a{
	display:inline-block;
	margin-right:4px;
	position: relative;
  top: -14px;
}
.items fieldset{width:20px;}
.items label{
	display:block;
	margin-bottom:10px;
}
.main_search.carts{
	overflow:hidden;
	padding: 16px 25px;
}   
.items .select{margin-top:-10px;}
.main_search .price{float:right;}
.main_search .price dl{width:190px;}

/* Home
---------------------------------------- */
.instructions{
  -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;
  -moz-box-shadow: 1px 1px 3px #B9B9B9, 1px 1px 3px #B9B9B9;
  -webkit-box-shadow:  1px 1px 3px #B9B9B9, 1px 1px 3px #B9B9B9;
  box-shadow: 1px 1px 3px #B9B9B9, 1px 1px 3px #B9B9B9;
  background-color:#FFF;
  margin-bottom: 29px;
  overflow: hidden;
}
.slide{
  -moz-box-shadow: 1px 1px 3px #B9B9B9, 1px 1px 3px #B9B9B9;
  -webkit-box-shadow:  1px 1px 3px #B9B9B9, 1px 1px 3px #B9B9B9;;
  box-shadow: 1px 1px 3px #B9B9B9, 1px 1px 3px #B9B9B9;
  background-color: #FFF;
  border: 10px solid #FFF;
  margin: 0 auto;
  width: 945px;
}
.steps{
  -moz-border-radius:6px 0 0 0; -webkit-border-radius:6px 0 0 0; border-radius:6px 0 0 0;
  background:#212121 url("/assets/backgrounds/bg_title.gif") no-repeat left center;
  float:left;
  height: 60px;
  width: 660px;
}
.steps h3{
  color: #C3C3C3;
  float: left;
  height: 16px;
  padding: 22px 14px;
}
.steps ul{
  float: right;
  margin-right: 10px;
}
.steps li.step-number{
  background: url("/assets/misc/step.png") no-repeat center;
  border: 0 none;
  color: #FFF;
  font-size: 1.6em;
  height: 24px;
  line-height: 23px;
  margin: 19px 0 0 2px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 24px;
}
.steps li.step-link{
  border-bottom: 1px dotted #888;
  float: left;
  margin: 24px 12px;
}
.steps li.step-link a{
  color: #888;
  text-decoration:none;
  text-transform: capitalize;
}
#copyright{
  border-top: 1px solid rgba(0, 185, 191, 0.4);
  clear: both;
  color: #7B7B7B;
  font-size:10px;
  padding: 11px 0;
}

#highlights{
  overflow:hidden;
  padding:0 0 45px 0;
}

#highlights .highlight_category{

  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.5); /* FF3.5+ */
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.5); /* Saf3.0+, Chrome */
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5); /* Opera 10.5, IE9, Chrome 10+ */

  margin:15px 0 0 15px;
  width:315px;
  height:354px;
  overflow:hidden;
  border-bottom:solid 6px #000;
  float:left;
  cursor:pointer;
}

#highlights .full{
  text-indent:-9999px;
}

#highlights .highlight_category.first{
  margin-left:0;
}

#highlight_luxury{background:#FFF url('/assets/misc/highlight_luxury.png') no-repeat top left;}
#highlight_body_lotions{background:#FFF url('/assets/misc/highlight_body_lotions.png') no-repeat top left;}
#highlight_capas_extensores{background:#FFF url('/assets/misc/highlight_capas_extensores.png') no-repeat top left;}
#highlight_offer{background:#FFF url('/assets/misc/highlight_offer.png') no-repeat top left;}
#highlight_masturbators{background:#FFF url('/assets/misc/highlight_masturbators.png') no-repeat top left;}
#highlight_monthly{background:#FFF url('/assets/misc/highlight_monthly.png') no-repeat top left;}
#highlight_offer h3{
  margin: 170px 0 0 10px;
  text-align: center;
}
#highlight_offer p{
  color:#FFF;
  text-align:center;
  text-shadow:0px 1px 1px #FFF;
}
#highlight_offer span{
  color: #FFF;
  font-size: 90px;
  font-weight: bold;
  left:94px;
  position: relative;
  text-shadow:4px 1px 9px rgba(0, 0, 0, 0.8);
  top: 155px;
}
#highlight_offer h3 a{
  color: #FFF;
  font-size: 35px;
  font-weight: bold;
  text-shadow:4px 1px 9px rgba(0, 0, 0, 0.8);
}
.highlight_category h3{
  margin:195px 15px 15px 15px;
  text-transform:uppercase;
 }

.highlight_category h3 a{
  color: #000;
  font-size: 15px;
  text-decoration: none;
}

#highlights .highlight_category p{
  margin:15px;
}
/*Products
---------------------------------------- */
.hot_banner{
  background: url("/assets/misc/new_collection.png") no-repeat left top #BE3462;
  border-bottom: 6px solid #000;
  color:#FFF;
  font-weight:bold;
  height: 354px;
  margin: 20px 0 0;
  padding:0 15px;
  text-transform: uppercase;
  overflow: hidden;
}
.hot_banner h2{
  color:#000;
  margin: 210px 0 5px;
}
.hot_banner h2:first-letter{
  font-size:1.8em;
}
.hot_banner h2 span{
  display: block;
  font-weight: normal;
}
.hot_banner p{
	color:#FFF;
  line-height: 16px;
}
.list li {
 	background-color:#FFF;
  border-bottom: 1px solid #B4B4B4;
  float: left;
  margin: 0 15px 15px 0;
  overflow: hidden;
  position: relative;
  width: 205px;
}
.products-list ul li.item{
  -moz-box-shadow: 4px 3px 3px #B9B9B9;
  -webkit-box-shadow: 4px 3px 3px #B9B9B9;
  box-shadow:4px 3px 3px #B9B9B9;
}

.list li:nth-child(3n){margin-right:0;}
.main-content{
  margin-bottom: 25px;
  overflow:hidden;
}
.list_description p{margin-bottom:57px;}
.main_search.women-image{
  background: url("/assets/misc/hot_search.jpg") no-repeat left top;
	padding: 180px 14px 25px;
}
.main_search.women-image h5{
	margin:15px 0 25px;
}
.main_search.women-image label span {
  display: block;
  font-weight: bold;
	margin-bottom:5px;
}

.products{
  float:left;
  width:307px;
}
.products-list{
  color: #7B7B7B;
  float:right;
  width:645px;
}
.products-list .product-info{margin:15px 0px 74px 15px;}
.products-list .product_price,
.products-list .product_colors{
	font-weight:bold;
	margin-bottom:13px;
	font-size:1.2em;
}
.product-info .btn{margin: 0 39px;}	
.products-list h1 span{font-weight:normal;}
.products-list h1{margin-bottom:18px;}
.product_image {
  background: url("/assets/backgrounds/bg-product.gif") repeat-x left top #999;
  display: table-cell;
  height: 182px;
  overflow: hidden;
  padding: 2px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 205px;
}
/*Details
---------------------------------------- */
.product_image.details {
  background: url("/assets/backgrounds/product_image_bg.gif") repeat-x left top #999;
  height:284px;
  width:315px;
}
.article{
	float:left;
	width:315px;
}
.article-list{
  float: right;
  width: 645px;
}
.article-list h5{
	font-weight:normal;
	text-transform: capitalize;
}
.article-list li,
.items li{
	border-bottom:1px solid #B4B4B4;
	padding: 8px 0;
}
.article-list li:last-Child{padding: 32px 0;}
.article-list p{color:#7b7b7b;}
.product-price{
	float:right;
  padding: 0 9px 17px;
  width: 300px;
}
.main_search h3{
	color:#DE318F;
	font-size:14px;
	font-style:oblique;
  text-transform: capitalize;
	font-weight:normal;
}
.product-price .horz{overflow:visible;}
.product-price li:first-Child{line-height: 46px;}
.product-price li:not(.total-article){
	color:#000;
	width:150px;
}
.product-price li:nth-child(2n){text-align:right;}
.product-price .btn.black{float:right;}
/*.product-price li:nth-child(1n){
	float:left;
}

.product-price li:nth-child(2n){
	float:right;
	text-align:right;
}*/
.symbol{
	display: block;
	float: left;
	font-size: 1.3em;
	line-height: 47px;
}
/*colors List
---------------------------------------- */

.product_colors li,
.product_colors span{
  float:left;
  width:23px;
  height:7px;
  border:solid 1px #C3C3C3;
  margin:0 1px 0 0;
  text-indent:-9999px;
}
.product_color_pink {
  background-color: #D41F62;
}
.product_color_green {
  background-color: #89D414;
}
.product_color_yellow {
  background-color: #D4AE14;
}
.product_color_blue {
  background-color: #3D14D1;
}
.product_color_white {
  background-color: #FFF;
}
.product_color_black {
  background-color: #000;
}

/* Footer
============================================================ */
footer{
  background:#242524 url("/assets/backgrounds/bg-footer.png") repeat-x left top;
  border-top: 2px solid #00B9FF;
  color:#FFF;
  height:210px;
  overflow:hidden;
  padding-top: 19px;
}
footer .content .floatleft.middle{margin: 0 126px;}
footer .content .floatleft.last{
  margin: 8px 0 8px 8px;
  margin-right:0;
}
footer form{
  width: 270px;
}
footer form fieldset:first-Child{
  margin-bottom:20px;
}
footer input.text,
footer textarea.textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.3s ease-out 0s;  /* FF4+ */
  -o-transition: all 0.3s ease-out 0s;  /* Opera 10.5+ */
  -webkit-transition: all 0.3s ease-out 0s;  /* Saf3.2+, Chrome */
  -ms-transition: all 0.3s ease-out 0s;  /* IE10? */
  transition: all 0.3s ease-out 0s;
  -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
  -moz-box-shadow:1px 2px 4px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2) inset;
  background-color:#FFF;
  border: 0 none;
  color: #333;
  float:left;
  outline: medium none;
  padding: 6px;
  resize: none;
  width: 100%;
}
footer input.text:focus,
footer textarea.textarea:focus {
  -moz-box-shadow:2px 3px 4px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4) inset;
}
footer label{
  color:#FFF;
  display:block;
  margin-bottom:10px;
}
footer nav li{
  margin-bottom: 25px;
}
nav li:first-Child{
  border-left:0 none;
  padding-left: 0;
}
nav li:last-Child{
  border-right:0 none;
  padding-right:0;
}
.navigation{
  float:left;
  width:388px;
}
footer nav{float:left;}
footer nav ul a{
  color:#FFF;
  font-size:12px;
  text-transform:capitalize;
  text-shadow:1px 1px rgba(60, 60, 60, 0.9);
  text-decoration:none;
}
footer .social-icons{float:left;}
footer .textarea{
  height:100px;
}
#copyright span{
  margin:0 10px 0;
}

/* Forms
============================================================ */
.items input.text{
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
 -moz-box-shadow: 2px 2px  7px rgba(185,185,185,0.4) inset, -2px -2px 7px rgba(185,185,185,0.4) inset;
 -webkit-box-shadow: 2px 2px  7px rgba(185,185,185,0.4) inset, -2px -2px 7px rgba(185,185,185,0.4) inset ;
 box-shadow: 2px 2px  7px rgba(185,185,185,0.4) inset, -2px -2px 7px rgba(185,185,185,0.4)inset;
 background-color:#FFF;
 height:30px;
 padding: 0 6px;
}
input.text.small{width:74px;}
input.text.large{width:330px;}
.search_form{position:relative;}
.search_form .search{
  border: 1px solid #00B9FF;
  bottom: 15px;
  position: absolute;
  right: 0;
}
.search_form input[type="text"]{
  border: 1px solid #FFFFFF;
  color: #7B7B7B;
  display: block;
  float: left;
  height: 24px;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 2px 0 0 5px;
  outline: medium none;
  width: 180px;
}
.search{
  -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
  -moz-box-shadow: 1px 1px 0 #B9B9B9 inset, -1px -1px 0 #B9B9B9 inset;
  -webkit-box-shadow: inset 1px 1px 0 #B9B9B9 , inset -1px -1px 0 #B9B9B9 ;
  box-shadow: inset 1px 1px 0 #B9B9B9 , inset -1px -1px 0 #B9B9B9 ;
  background-color:#FFF;
  height:30px;
  width:285px;
}

.selectbox_wrapper{
	width:285px;
	height:30px;
	background:transparent url('../img/textbox.gif') no-repeat left top;
	position:relative;
}

.selectbox_wrapper .select_value {
    color: #7B7B7B;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    margin: 3px 0 0 3px;
    padding: 5px;
    width: 244px;
	cursor:pointer;
	overflow:hidden;
}

.selectbox_wrapper .select_arrow{
	width:25px;
	height:25px;
	overflow:hidden;
	text-indent:-999px;
	float:right;
	background:transparent url('../assets/select.gif') no-repeat left top;
	margin:3px 2px 0 0;
	cursor:pointer;
}

.selectbox_wrapper .textselect{
	display:block;
	width:1px;
	height:1px;
	overflow:hidden;
	background:transparent;
	position:absolute;
	border:0;
	top:-9999px;
	left:-9999px;
}

.selectbox_wrapper .select_options{
	clear:both;
	background-color:#FFF;
	max-height:120px;
	border:dotted 1px #7B7B7B;
	width:285px;
	overflow: auto;
	position:absolute;
	top:30px;
	display:none;
	z-index:99999;
}

.selectbox_wrapper .select_options li{
	background-color:#FFF;
	font-weight:bold;
	padding:5px;
	color:#7B7B7B;
	cursor:pointer;
	width: 60px;
}
.selectbox_wrapper .select_options li var{
	display:none;
}
.selectbox_wrapper .select_options li:hover,
select option:hover{
	opacity: 0.5;
	filter: alpha(opacity = 0.5);
}

.selectbox_wrapper.mini{
	width:85px;
	background:url("../assets/textbox_mini.gif") no-repeat left top;
	text-indent:-9000px;
}
.selectbox_wrapper.colors.mini .select_options li span,
.selectbox_wrapper.colors.mini .select_value span{text-indent:-9000px;}

.selectbox_wrapper.mini .select_value {
    width: 45px;
}

.selectbox_wrapper.mini .select_options{
	width:85px;
}

.selectbox_wrapper.disabled .select_arrow{
	background:url("../assets/select_disabled.gif") no-repeat left top;
}

.selectbox_wrapper.medium{
	background:url("../assets/textbox_medium.gif") no-repeat left top;
	height: 34px;
  width: 138px;
}
.selectbox_wrapper.medium .select_value{
	width:88%;
	color:#FF0097;
}
.selectbox_wrapper.medium .select_arrow{
	margin: -22px 7px 0 0;
}
.selectbox_wrapper.medium .select_options{width:130px;}
.selectbox_wrapper.medium .select_options li{width:120px;}
.selectbox_wrapper.colors .select_options li span{
  border: 1px solid #C3C3C3;
  display: block;
  height: 7px;
  line-height: 3px;
  margin: 0 1px 0 0;
  text-indent: 30px;
  width: 23px;
}
.selectbox_wrapper.colors .select_value span{
  border: 1px solid #C3C3C3;
  color: #666;
  display: block;
  height: 7px;
  line-height: 5px;
  margin: 3px 0 0 3px;
  padding: 0;
  text-indent: 35px;
  text-transform: capitalize;
  width: 23px;
}

/* Tables
============================================================ */


/* Buttons
============================================================ */
.btn{
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
   padding: 7px 29px;
}
.btn.black{
	background-color:#333;
	color:#FFF;
	display: inline-block;
	text-shadow:1px 1px rgba(255,255,255,0.6);
}
.btn.black:hover{background-color:#4A4747;}
.go_back{
	font-size:14px;	
	color:#7B7B7B;
	float:right;
}
.go_back span{
	font-size:16px;
	padding-left:20px;
}
.submit_search{
  -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
  background-color:#333;
  border: 1px solid #333;
  color: #FFF;
  cursor: pointer;
  display: block;
  float: right;
  font-weight: bold;
  height: 22px;
  margin: 4px 5px 0 0;
  text-transform: capitalize;
  width: 81px;
}
.submit_search:hover{
  background-color:#000;
}
/* Icons
============================================================ */
.social-icons a{
  background:url("/assets/icons/icn-social-pages.png") no-repeat;
  display:inline-block;
  height:44px;
  margin-right:10px;
  text-indent:-9000px;
  width:44px;
}
.social-icons a.facebook{background-position:left;}
.social-icons a.twitter{background-position:center;}
.social-icons a.orkut{background-position:right;}
/*Products
---------------------------------------- */
.new_product {
  background: url("/assets/misc/new_product.gif") no-repeat left top;
  color: #FFF;
  font-weight: bold;
  height: 21px;
  overflow: hidden;
  padding: 3px 0 0;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 61px;
}
