<% title "Products" %>
<div class="main-content">
  <%= render :partial => "product_left_panel" %>
  <div class="products-list">
    <div id="list_description">
      <h1>Anal <span>todas as linhas</span></h1>
      <p>
        All of the orgasmic toys in this collection are under £20, so theyíre perfect as gifts or as little treats for yourself.
        Perfect for couples on a budget. O kit contÈm um estimulante vibrador massageador multi-velocidade com 4 capas
        de silicone com textura intercambi·veis.
      </p>
    </div>
    <div class="product-list" id="filter_search_results">
      <%= render :partial => "products_list", :layout => false %>
    </div>
  </div><!-- .product-list END -->
</div><!-- .main-content END -->

<% javascript "siteJavascript", "filterSearch", "msDropDown" %>